.container {
  display: flex;
  width: 800px;
  margin: 60px auto;
}

.previous > img,
.next > img {
  width: 40px;
}

.previous,
.next {
  border: none;
  background-color: transparent;
}

img {
  width: 700px;
}

.visible {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.hidden {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
